<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
             <th>
                Age
            </th>
             <th>
                Color
            </th>
             <th>
                Sex
            </th>
             <th>
                Description
            </th>
            <th>
                Rental Requests
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= @cat.name %>
            </td>
             <td>
                <%= @cat.age %>
            </td>
             <td>
                <%= @cat.color %>
            </td>
             <td>
                <%= @cat.sex %>
            </td>
             <td>
                <%= @cat.description %>
            </td>
                <%= @cat.cat_rental_requests.order(:start_date).each do |request| %>
            <td>
                Start Date:<%= request.start_date %>
                End Date:<%= request.end_date %>
            </td>
        </tr>
    </tbody>
</table>
